<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	<title>Project2</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/login.js"></script>
	<script src="/signup.js"></script>
	<script src="/dashboard.js"></script>
	<!-- bootstrap stylesheets -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body class="main_body">
	{{{ body }}}

    <script src="/script.js"></script>
</body>

</html>