<h1>Dashboard</h1>

<div><!--new creature input-->
<h3>Create A Creature</h3>
    <label for="inputPassword5" class="form-label">Password</label>
        <input type="text" id="newCreatureName" class="form-control" aria-describedby="newCreatueName">
            <div id="infoForNewCreature" class="form-text">
                please enter the name for this new creature.
            </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

<div class="accordion" id="accordionExample"><!--start of accordian object-->
    {{#each creature}}
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
       {{craeture.name}}<!-- The name of each creature-->
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample"><!-- this is the body of each accordian if something is true it will show it-->
      <div class="accordion-body">
          <ul>
              {{#if creature.happy}}
              <li>I am happy</li>
              {{/if}}
              {{#if creature.sad}}
              <li>i am sad</li>
              {{/if}}
              {{#if creature.bored}}
              <li>i am bored</li>
              {{/if}}
              {{#if creature.angry}}
              <li>i am angry</li>
              {{/if}}
              {{#if creature.fried}}
              <li>i m burnt</li>
              {{/if}}
          </ul>
        
      </div>
    </div>
  </div>
  {{/each}}
</div>
 