<div class="dashboard_body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 id="username">Welcome {{username}}</h4>
      </div>
    </div>
  </nav>
  <br />

  <div class="container" id="pet_status">
    <h3 class="pet_text glow">{{petname}}</h3>
    <div class="row">
      <div class="col-md-3 offset-md-1">
        <button type="button" class="btn btn-dark actionBtn" id="eat">Feed</button>
      </div>
      <div class="col-md-3 offset-md-1">
        <button type="button" class="btn btn-dark actionBtn" id="walk">Walk</button>
      </div>
      <div class="col-md-3 offset-md-1">
        <button type="button" class="btn btn-dark actionBtn" id="sleep">Sleep</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="pet_text">Mood</h3>
        <div id="myProgress">
          <div id="myBar"></div>
        </div>
        <div id="petStatusDiv"></div>
      </div>
    </div>
<<<<<<< HEAD
  </footer>
</div>
<script src="/dashboard.js"></script>
<script>let onLoadMood = {{mood}};</script>
=======
    <div class="row">
      <div class="pet_info col-md-12">
        <a id="rotator"><img src="{{pet2}}" class="pet" id="sleepPet" /></a>
      </div>
    </div>
  </div>
</div>

<script src="/dashboard.js"></script>
>>>>>>> de56dcd2ad542098338b0d6eeb9dce92033a4ed8
