<h1>Dashboard</h1>

 <style>
 #myProgress {
    width: 100%;
    background-color: #ddd;
  }
  
  #myBar {
    width:0%;
    height: 30px;
    background-color: #1b63c0;
  }
  </style>
<body>

    <button id="viewPetBtn">
        View Pet
    </button>

    <div id="petStatusDiv"></div>

    <br>
    <br>

    <img id="sleepCat">
    
    <div id="food"></div>

    <h1>Mood</h1>

<div id="myProgress">
  <div id="myBar"></div>
</div>

<br>
<button id="eat">Eat</button> 
<button id="play">Play</button>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
</body>

</html>
