<div class="dashboard_body">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="navbar-header">
        <h4 id="username">Welcome {{username}}</h4>
      </div>
    </div>
  </nav>
  <br />
  <div class="container">
    <div id="petStatusDiv"></div>
    <a id="rotator"><img src="{{pet2}}" class="pet" id="sleepPet" /></a>
    <div id="food"></div>
  </div>
  <footer class="pet_info">
    <div class="container-fluid">
      <h3 class="pet_text">{{petname}}</h3>
      <div class="row">
        <div class="col-md-3 offset-md-3">
          <button type="button" class="btn btn-dark" id="eat">Feed</button>
        </div>
        <div class="col-md-3 offset-md-3">
          <button type="button" class="btn btn-dark" id="walk">Walk</button>
        </div>
      </div>
      <div class="row">
        <h3>Mood</h3>
        <div class="col-md-12">
          <div id="myProgress">
            <div id="myBar"></div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
<script src="/dashboard.js"></script>