<body class="login_body">
    <h1>ポーチドエッグ</h1>
    <h2>Pōchidoeggu</h2>
    <p>Login</p>
    <form class="LoginForm">
        <div class="form-group">
            <label for="LoginUserName">USER Name:</label>
            <input type="text" id="LoginUserName" name="name">
            <label for="LoginPassword">Password:</label>
            <input type="text" id="LoginPassword" name="name">
        </div>
        <button type="submit">Login</button>
    </form>
</body>