<body class="login_body">
    <h1>ポーチドエッグ</h1>
    <h2>Pōchidoeggu</h2>

    <form class="LoginForm">
        <p>Welcome Back!</p>
        <div class="mb-3" class="form-group">
            <!-----Kept class form-group from orig version-->
            <label for="exampleInputEmail1" class="form-label" for="LoginUserName">Email address</label>
            <!---Kept
            for="LoginUserName from orig version"-->
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text"
                id="LoginUserName" name="name">
            <!--Kept type="text" id="LoginUserName" name="name"-->
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label" for="LoginPassword">Password</label>
            <!--Kept
            for="LoginPassword"-->
            <input type="password" class="form-control" id="exampleInputPassword1" type="text" id="LoginPassword"
                name="name">
            <!--Kept type="text" id="LoginPassword" name="name"--->
        </div>
        <button type="submit" class="btn btn-primary" type="submit">Submit</button>
        <!--Kept type="submit"--->
    </form>
</body>