<div class="login_body">
    <h1 class="glow">ポーチドエッグ</h1>
    <h2 class="glow">Pōchidoeggu</h2>

    <form class="LoginForm">
        <div class="mb-3" class="form-group">

            <label class="form-label" for="LoginUserName">Username:</label>
            <input class="form-control" type="text" id="LoginUserName" name="name" minlength="5" maxlength="20" required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="LoginPassword">Password:</label>
            <input type="password" class="form-control" type="text" id="LoginPassword" name="name" required>
        </div>
        <button type="submit" class="btn btn-primary" type="submit">Login</button>
    </form>
    </br>
    <div class="redirectBtn">
        <p>Don't have an account?</p>
        <button class="btn btn-primary" id="createAcc">Create Account</button>
    </div>
</div>
<script src="/login.js"></script>