<body class="login_body">
    <h1>ポーチドエッグ</h1>
    <h2>Pōchidoeggu</h2>

    <form class="LoginForm">
        <p>Welcome Back!</p>
        <div class="mb-3" class="form-group">
            <!-----Kept class form-group from orig version-->
            <label class="form-label" for="LoginUserName">Username:</label>
            <!---Kept
            for="LoginUserName from orig version"-->
            <input class="form-control" type="text" id="LoginUserName" name="name">
            <!--Kept type="text" id="LoginUserName" name="name"-->
        </div>
        <div class="mb-3">
            <label class="form-label" for="LoginPassword">Password:</label>
            <!--Kept
            for="LoginPassword"-->
            <input type="password" class="form-control" type="text" id="LoginPassword" name="name">
            <!--Kept type="text" id="LoginPassword" name="name"--->
        </div>
        <button type="submit" class="btn btn-primary" type="submit">Login</button>
        <!--Kept type="submit"--->
    </form>
    <div class = "redirectBtn">
        <p>Don't have an account?</p>
        <button class="btn btn-primary" id="createAcc">Create Account</button>
    </div>
</body>