<html>



<body class="sign_up">

    <h1>ポーチドエッグ</h1>
    <h2>Pōchidoeggu</h2>
    <p>Sign UP</p>
    <form class="SignUp">
        <div class="form-group">
            <label for="SignUpUserName">USER Name:</label>
            <input type="text" id="SignUpUserName" name="name">
            <label for="SignUpPassword">Password:</label>
            <input type="text" id="SignUpPassword" name="name">
        </div>

        <button type="submit">Create Account</button>

    </form>
</body>

</html>