<div class="container-fluid">
        <div class="row align-items-center">
            <div class="row justify-content-center">
                <div class="col-4">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="text" class="form-control" id="userName" aria-describedby="emailinput">
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="passwordInput">
                        </div>
                        <button type="submit" class="btn btn-primary" id="loginSubmit">Submit</button>
                    </form>
                </div>
                <div class="col-4">
                    please enter an email and password to begin
                </div>
            </div>
        </div>
    </div>