<html>

<body class="sign_up">
    <h1>ポーチドエッグ</h1>
    <h2>Pōchidoeggu</h2>

    <form class="SignUp">
        <p>Sign UP!</p>
        <div class="mb-3" class="form-group">
            <!-----Kept class form-group from orig version-->
            <label for="exampleInputEmail1" class="form-label" for="SignUpUserName"></label>User Name</label>
            <!---Kept
            for="SignUpUserName"> from orig version"-->
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text"
                id="SignUpUserName" name="name">
            <!--Kept type="text" id="SignUpUserName" name="name"-->
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">

            <label for="exampleInputPassword1" class="form-label">Pet Name</label>
            <!--Kept
            for=""-->
            <input type="text" class="form-control" id="exampleInputPassword1" type="text" id="petName" name="name">
            <label for="exampleInputPassword1" class="form-label" for="SignUpPassword">Password</label>
            <!--Kept
            for="LoginPassword"-->
            <input type="password" class="form-control" id="exampleInputPassword1" type="text" id="SignUpPassword"
                name="name">
            <!--Kept type="text" id="SignUpPassword" name="name"--->
        </div>
        <button type="submit" class="btn btn-primary" type="submit" id="btnColor">Create Account</button>
        <!--Kept type="submit"--->
    </form>

</body>

</html>