<h1>Sign UP</h1>
<form class="SignUp">
    <div class="form-group">
        <label for="SignUpUserName">USER Name:</label>
        <input type="text" id="SignUpUserName" name="name">
        <label for="SignUpPassword">Password:</label>
        <input type="text" id="SignUpPassword" name="name">
    </div>
    <button type="submit">Create Account</button>
</form>