
<body class="sign_up">
    <h1 class="glow">ポーチドエッグ</h1>
    <h2 class="glow">Pōchidoeggu</h2>

    <form class="SignUp">
        <p>Sign Up!</p>
        <div class="mb-3" class="form-group">
            <label class="form-label" for="SignUpUserName"></label>Username:</label>
            <input type="text" class="form-control" type="text" id="SignUpUserName" name="name">
            <label class="form-label" for="SignUpPassword">Password:</label>
            <input type="password" class="form-control" type="text" id="SignUpPassword" name="name">
            <p id="radioLabel">Pet:</p>
            <div class="btn-group" id="petSelect" data-toggle="buttons">
                <input class="toggle" type="radio" name="flexRadio" id="cat" data-string1="/assets/images/cat1.png" data-string2="/assets/images/cat2.png">
                <label class="form-check-label" for="cat">
                    Cat
                </label>
                <input class="toggle" type="radio" name="flexRadio" id="dog" data-string1="/assets/images/dog1.png" data-string2="/assets/images/dog2.png">
                <label class="form-check-label" for="dog">
                    Dog
                </label>
                <input class="toggle" type="radio" name="flexRadio" id="rabbit" data-string1="/assets/images/rabbit1.png" data-string2="/assets/images/rabbit2.png">
                <label class="form-check-label" for="rabbit">
                    Rabbit
                </label>
                
            </div>
            <br/>
            <label for="petName" class="form-label">Pet Name:</label>
            <input type="text" class="form-control" type="text" id="petName" name="name">
        </div>
        <button type="submit" class="btn btn-primary" type="submit">Create Account</button>
    </form>
    <div class="redirectBtn">
        <p>Already have an account?</p>
        <button class="btn btn-primary" id="loginHere">Login Here</button>
    </div>
    <script src="/signup.js"></script>
</body>
<script src="/signup.js"></script>
