.login_body {
  height: 100%;
  max-width: 100%;
  margin: 0 0 67px 0;
  padding: 0;
  background: url("https://i.imgur.com/ZmDkgUj.jpg") no-repeat center center
    fixed;
  background-image: url("https://i.imgur.com/ZmDkgUj.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.sign_up {
  height: 100%;
  max-width: 100%;
  margin: 0 0 67px 0;
  padding: 0;
  background: url("https://i.imgur.com/ZmDkgUj.jpg") no-repeat center center
    fixed;
  background-image: url("https://i.imgur.com/ZmDkgUj.jpg");
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dashboard_body {
  height: 100%;
  max-width: 100%;
  margin: 0 0 67px 0;
  padding: 0;
  background: url("https://i.imgur.com/0nUlet8.jpg") no-repeat center center
    fixed;
  background-image: url("https://i.imgur.com/0nUlet8.jpg");
  background-size: cover;
}

.redirectBtn {
  text-align: center;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}
h2 {
  font-size: 80px;
  text-align: center;
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6,
      0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6,
      0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}
form {
  max-width: 350px;
  margin-top: 25px;
  margin: auto;
  align-content: center;
  font-size: 20px;
  color: white;
}
p {
  font-size: 40px;
  color: white;
}
input {
  font-size: 40px;
  color: rgb(183, 200, 219);
}
#btnColor {
  background-color: rgb(183, 200, 219);
  border-color: rgb(183, 200, 219);
  color: #fff;
}
